<div id="app" class="relative border-box stretch">
  <div class="hdl-home animated relative border-box stretch animated">
    <heimdall-starfield speed="0.25" direction="forward" class="animated">
    </heimdall-starfield>
    <main class="absolute stretch top-0 left-0 animated">
      <div class="hdl-explorer absolute border-box stretch flex items-center justify-center m0 p0 z0">
        <hdl-layout-placeholder class="absolute"></hdl-layout-placeholder>
      </div>
      <div class="absolute border-box stretch flex flex-column top-0 left-0 no-pointer-events">
        <div class="hdl-main-header flex border-box pointer-events hstretch z1 with-column-gap">
          <div class="hdl-logo border-box flex-none">
          </div>
          <hdl-layout-header-placeholder class="hdl-main-header-custom border-box"></hdl-layout-header-placeholder>
          <div class="hdl-profile border-box flex items-center media-matching with-custom-layout">
            <user-tag class="hdl-user-picture">
              <div class="picture border-box circle border flex justify-center items-center" title="janouma"></div>
            </user-tag>
          </div>
        </div>
        <side-menu class="pointer-events flex-auto animated small-screen-slide-right">
          <section></section>
        </side-menu>
      </div>
    </main>
    <div class="border-box flex hdl-modal stretch absolute left-0 top-0 z1 not-visible animated">
      <div class="hdl-content"></div>
      <button class="animated btn fixed hdl-close hover-fx"></button>
    </div>
    <footer class="absolute hstretch center bold z2">
      © 2016 Design Investigation
    </footer>
  </div>
</div>
