<!DOCTYPE html>
<html lang="en" class="development">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no, maximum-scale=1.0, viewport-fit=cover">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../../index.css">
    <style>
      .wrapper {
        max-width: 25em;
        background-color: rgb(var(--space));
      }
    </style>
    <script type="module" src="../../../../../layouts/dashboard/item/index.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <hdl-dashboard-item></hdl-dashboard-item>
    </div>
    <script type="module">
      import { applyParameters } from '../../../../helpers/parameters.js'
      
      const item = document.querySelector('hdl-dashboard-item')
      
      applyParameters(item, {
        title: 'bliss.js — heavenly javascript',
        iconalt: 'icon of item'
      })
    </script>
  </body>
</html>