<!DOCTYPE html>
<html lang="en" class="development">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no, maximum-scale=1.0, viewport-fit=cover">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/heimdall-layouts/tests/index.css">
    <style>
      .wrapper {
        display: inline-block;
        padding: 1em;
        background-color: #14074E;
        height: 26em;

        background-image:
          url(/tests/suites/dashboard/widget/views/assets/images/stars.png),
          linear-gradient(-45deg, rgba(var(--sky), 50%), transparent);
      }

      hdl-dashboard-add-widget {
        width: 25em;
        height: 100%;
      }
    </style>
    <script type="module" src="/heimdall-layouts/layouts/dashboard/add_widget/index.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <hdl-dashboard-add-widget title="Add a widget"></hdl-dashboard-add-widget>
    </div>
  </body>
</html>